@import "../../../../../styles/colors.css";

.list {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.item {
    list-style: none;
}

.movie {
    display: flex;
    flex-direction: row;
    padding: 14px 10px 0;
    & .img {
        margin-right: 5%;
        height: 100px;
        margin-top: 7px;
        border-radius: 5px;
    }
    & .info {
        color: #b9b9b9;
        width: calc(100% - 85px);
        padding-bottom: 15px;
        border-bottom: 1px solid var(--greyWhite);
        display: flex;
        flex-direction: column;
        & span {
            line-height: 27.5px;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            font-size: 0.7rem;
        }
        & .tag {
          position: relative;
          font-size: 12.8px;
          font-size: 0.7rem;
          padding: 2px 6px;
          border: 1px solid #fdd79c;
          color: #ff9a00;
          font-weight: 700;
          /* color: #fff; */
          border-radius: 5px;
        }
        & .title {
            color: #000;
            font-weight: bold;
            font-size: 1rem;
        }
    }

}
