.list{
  background:url(http://img.komovie.cn/poster/big/14721925029619.jpg) repeat-x;
  border-radius:10px;
  margin:0 auto;
  overflow:hidden;
  padding:40px 10px;
}
.wrapContent{
  border-radius:10px;
  overflow:hidden;
  background:#fff;
}
.tabList{
  height: 48px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 20px;
  margin: 0;
  background: #F3F2F7;
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100px;
    height: 32px;
    line-height: 32px;
    margin: 8px 5px;
    border-radius: 12px;
    color:#515151;
    font-size:14px;
    img{
      width:20px;
      padding-right:10px;
    }
    i{
      width:36px;
      height:36px;
      display: block;
    }
    &.active{
      background:#fff;
      color:#404040;
      font-weight: bold;
    }
  }
}
.content{
  padding:0 20px;
  background:#fff;
}
.location{
  padding:15px 0;
  display: flex;
  border-width:0 0 1px 0;
  border-style:solid;
  align-items: center;
  justify-content: center;
  -webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
  >span{
    padding-top:5px;
    font-size:12px;
    padding-right:10px;
    color:#939393;
  }
  p{
    flex:1;
    font-size:14px;
    width:150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    color:#404040;
    padding:0;
    margin:5px 0 0;
    &:after{
      content:'>'
    }
  }
  .point{
    color:green;
    text-align:center;
    img{
      width:22px;
    }
    span{
      display: block;
      color:#72DCC5;
      margin-top:5px;
      font-size:12px;
    }
  }
}
.times{
  display:flex;
  justify-content:space-between;
  padding:15px 0;
  margin:0;
  border-width:0 0 1px 0;
  border-style:solid;
  -webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
  li{
    list-style:none;
    font-size: 15px;
    display: flex;
    color:#404040;
    font-weight: bold;
    flex-direction: column;
    span{
      color:#939393;
      font-size:12px;
    }
    time{
      padding-top:10px;
    }
  }
}

.search{
  padding:20px 0;
  border-width:0 0 1px 0;
  border-style:solid;
  -webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
  &.last{
    border-bottom:0;
  }
  span{
    color:#939393;
    font-size:14px;
    &:after{
      content:">";
      float:right;
    }
  }
}
