body{
    background:#f5f5f5;
}
.orderDes{
  h4{
    margin:10px 0;
  }
  background:#fff;
  padding:10px 20px 0;
  .orderTime{
    display: flex;
    justify-content: space-between;
    padding:10px 0;
    p{
      padding:0;
      margin:0;
    }
    button{
      color:#FF9A00;
    }
  }
}
.orderInfo{
  margin:20px 0 0;
  background:#fff;
  .orderList{
    padding:0;
    margin:0;
  }
  li{
    padding:0 20px;
    list-style: none;
    margin:0;
    height:50px;
    display:flex;
    align-items:center;
    border-width:0 0 1px 0;
    border-style:solid;
    -webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
    span{
      width:100px;
    }
  }
}

.roomRule{
  padding:10px 20px 0;
  h4{
    margin:10px 0;
  }
}

.saveOrder{
  position:fixed;
  background:#fff;
  left:0;
  bottom:0;
  width:100%;
  padding-left:20px;
  box-sizing: border-box;
  height:50px;
  align-items: center;
  display:flex;
  justify-content: space-between;
  strong{
    color:#FF9A00;
  }
  span{
    color:#52abf7;
  }
  button{
    background:#FF9A00;
    border:0;
    color:#fff;
    height:50px;
    padding:0 20px;
  }
}
